@font-face {
  font-family: "Comic Sans MS";
  src: url("../Comic\ Sans\ MS.ttf");
}

blink {
  animation: blink 1s step-end infinite;
  display: inline;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

:root {
  font-family: Comic Sans MS;
}
